.users-wrapper {
  @include boxes-wrapper;

  .user-wrapper {
    @include box-wrapper;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.empty-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%
}
